body {
  background-color: #999966;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #132639;
}

a {
  margin: 0;
}

a:link {
  text-decoration: none;
  color: #132639;
}

a:hover {
  text-decoration: none;
  color: #132639;

}

a:active {
  text-decoration: none;
  color: #C2C2A3;
}

a:visited {
  text-decoration: none;
  color: #132639;
}


button {
  max-width: 5.5em;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 2px 2px 2px 2px;
  opacity: 0.6;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #3973AC;
  border: none;
}

select {
  padding: 0.5em;
  border-radius: 2px;
/*  border: 2px solid #132639;*/
  background-color: #3973AC;;
  font-family: Arial, sans-serif;
  font-weight: bold;
  opacity: 0.8;
  border: none;
}

select option {
  background-color: #C2C2A3;
  font-family: Arial, sans-serif;
  font-weight: bold;
  opacity: 0.8;
  border-radius: 2px;
  border: none;

}

input {
  background-color: lightgrey;
  border: 0 none;
  margin: 0.45em;
  width: 2.5em;
  padding: 0.4em 0.75em;
}

textarea {
  background-color: lightgray;
  padding: 0.75em;
}

img {
  /*border: 1px solid #132639;*/
}

h3 {
  opacity: 0.8;
  text-align: center;
  margin: 0.75em 0 0 0;
}

header {
  background-color: #999966;
  font-size: 16px;
  clear: both;
}

footer {
  text-align: center;
  clear: both;
}

div.flexOuter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.flexOuterImg {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

div.flexItemImg {
  flex: 1 1 20%;
}

article.getIt {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  max-width: 25em;
  text-align: right;
  border: 2px solid #132639;
  border-radius: 2px 2px 2px 2px;
  padding: 1em;
  margin: 1em;
  flex: 1 1 40%;
}

article.getIt2 {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  max-width: 25em;
  border: 2px solid #132639;
  border-radius: 2px 2px 2px 2px;
  padding: 1em 1.5em 1em 0.5em;
  margin: 1em;
  flex: 1 1 40%;
}

article.doubleGetIt {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  max-width: 45em;
  text-align: center;
  border: 2px solid #132639;
  border-radius: 2px 2px 2px 2px;
  padding: 1em;
  margin: 1em;
  flex: 1 1 40%;
}

article.indexGetIt {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  max-width: 45em;
  text-align: center;
  border: 2px solid #132639;
  border-radius: 14px 14px 2px 2px;
  padding: 1em;
  margin: 1em;
  flex: 1 1 40%;
}

article.doubleGetItNoMax {
  background-color:  #999966;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  border-radius: 2px;
  padding: 1em;
  margin: 1em;
  flex: 1 1 40%;
}

article.inverseDoubleGetIt {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  max-width: 45em;
  text-align: center;
  border: 2px solid #132639;
  border-radius: 2px 2px 14px 14px;
  padding: 1em;
  margin: 1em;
  flex: 1 1 40%;
}

article.inverseDoubleGetItNoMax {
  background-color:  #999966;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  border-radius: 2px;
  padding: 1em;
  margin: 1em;
  flex: 1 1 40%;
}

section.codeBlock {
  background-color: #C2C2A3;
  color: #132639;
  max-width: 60em;
  font-family: tahoma, sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 180%;
  padding: 1em;
  border-radius: 2px 2px 2px 2px;
  margin: 2.25em 3em;
}

div.indexCard {
  background-color: #3973AC;
  padding: 0.5em 0.5em 0.25em 0.75em;

  border-radius: 2px 2px 2px 2px;
  margin: 0.25em;
  opacity: 0.8;
  cursor: pointer;
}

div.indexCard2 {
  background-color: #3973AC;
  padding: 0.5em 0.5em 0.25em 0.75em;

  border-radius: 2px 2px 2px 2px;
  margin: 0.25em;
  opacity: 0.8;
  cursor: pointer;
}

div.doubleIndexCard {
  background-color: #3973AC;
  max-width: 20em;
  padding: 0.5em 0.5em 0.25em 0.75em;

  border-radius: 2px 2px 2px 2px;
  margin: 0 1em;
  opacity: 0.8;
  cursor: pointer;
}

div.inverseDoubleIndexCard {
  background-color: #3973AC;
  max-width: 11em;
  padding: 0.5em 0.5em 0.25em 0.75em;

  border-radius: 2px 2px 2px 2px;
  margin: 0 1em;
  opacity: 0.8;
}

p.indexCard {
  z-index: 1;
}
p.indexCard {
  max-width: 3em;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 2px 2px 2px 2px;
  opacity: 0.6;
  font-size: 14px;
  cursor: pointer;
}

p.indexCard:hover {
  background-color: #3973AC;
}

p.indexCard2 {
  z-index: 1;
}

p.indexCard2 {
  max-width: 5.5em;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 2px 2px 2px 2px;
  opacity: 0.6;
  font-size: 14px;
  cursor: pointer;
}

p.indexCard2:hover {
  background-color: #3973AC;
}

p.doubleIndexCard {
  max-width: 20em;
  padding: 0.5em;
  border-radius: 2px 2px 2px 2px;
  margin: 0 1em;
  opacity: 0.6;
  font-size:14px;
}

p.doubleIndexCard:hover {
  background-color: #3973AC;
}

div.doubleIndexCard {
  background-color: #3973AC;
  max-width: 20em;
  padding: 0.5em;
  border: 1px solid  #132639;
  border-radius: 2px 2px 2px 2px;
  margin: 0 1em;
  opacity: 0.8;
}

div.inverseDoubleIndexCard {
  padding: 0.5em;
  border-radius: 2px 2px 2px 2px;
  margin: 0 1em;
  font-size: 14px;
  opacity: 0.6;
}

p.doubleIndexCard:hover {
  background-color: #3973AC;
}

p.linky {
  text-align: center;
}

p.linky a {
  background-color: grey;
  border-radius: 2px 2px 2px 2px;
  padding: 0.5em;
}

p.linky a:hover {
  background-color: #3973AC;
}

p.linky2 {
  text-align: center;
}

p.linky2 a {
  background-color: grey;
  border-radius: 2px 2px 2px 2px;
  padding: 0.5em;
}

p.linky2 a:hover {
  background-color: #3973AC;
}

img.bigPic {
  margin: 0 0 1em 0;
}

#bill {
  border: 1px solid  #132639;
  border-radius: 2px 2px 2px 2px;
}

#banner{
  border: 2px solid  #132639;
  border-radius: 2px 2px 2px 2px;
  margin: 1em 0 0 0;
}


#spain {
  border: 2px solid #132639;
}

#textField {
  opacity: 0.75;
  margin: 0.75em;
}

#wintermute {
  margin: 2em 0.25em;
}

#butterflies {
  margin: 2em 0.25em;
}

#home {
  cursor: pointer;
}
